* {
	font-family: Verdana;
}

.aura-default-box {
	width: 80%;
	padding: 5px;
	left: 50%;
	top: 0px;
	margin: 50px 0 0 -40%;
	position: absolute;
}

.aura-default-box h1 {
	text-align: center;
}

.aura-default-box ul {
	padding: 0;
	list-style: none;
}

.aura-default-box ul li {
	margin: 0;
	background-color: #f7f7f7;
	padding: 3px;
}

.aura-default-box ul li label {
	display: inline-block;
	width: 50%;
	text-align: right;
	margin-right: 20px;
	padding: 3px;
	background-color: #D2DEEF;
}

.aura-default-box p {
	color: #999;
}

.aura-default-box p.error {
	background-color: #FAC6C6;
	color: #000;
	padding: 5px;
	text-align: center;
}

.aura-default-box p.success {
	background-color: #bdeabe;;
	color: #000;
	padding: 5px;
	text-align: center;
}

span.info {
	font-weight: bolder;
	color: #4493ea;
}

#console {
	border: 1px solid #000;
	background-color: #000;
	text-align: center;
}

#console div {
	height: 300px;
	overflow-y: scroll;
}

#console div ul li {
	background-color: #000;
	color: #fff;
	text-align: left;
	font-family: "Lucida Console";
	font-size: 14px;
	padding: 0 0 0 5px;
}

#console div ul li.title {
	padding-bottom: 10px;
	font-size: 15px;
}

#console div ul li.message {
	font-style: italic;
}

#console div ul li.error {
	color: #ffbbbb;
	font-style: italic;
}

#console div ul li.success {
	color: #bffcbe;
	font-style: italic;
}

#console div ul li.command {
	margin-top: 15px;
}

#console input.command {
	width: 99%;
	border: 0;
	padding: 3px;
	margin: 3px;
	font-family: "Lucida Console";
	font-size: 15px;
}
